/*nav bar*/
.navbar-header {
	background-color: #117DB0;
}
.btn-logo, a.btn-logo:active {
  background-color: transparent;
  border: none;
  box-shadow: none;
}
.sofi-logo {
	height: 22px;
  position: relative;
  bottom: 4px;
}

/*reason module*/
.heading {
  text-transform: uppercase;
  font-size: 14px;
}
.reason-module {
  width: 49%;
  display: inline-block;
  background-color: #ffffff;
  padding: 20px;
  margin-bottom: 10px;
  height: 160px;
  border-radius: 7px;
}
.reason-heading {
	font-size: 17px;
}
.reason-icon {
	width: auto;
	height: 35px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.progress {
	margin-bottom: 5px;
}
.points {
	color: #8a8a8a;
}


