/*nav bar*/
.navbar {
	background-color: #117DB0!important;
}
.btn-logo, a.btn-logo:active {
  background-color: transparent;
  border: none;
  box-shadow: none;
}
.btn-info.active, .btn-info:hover {
  background-color: transparent;
}
.navbar-collapse {
	background-color: #ffffff;
}
.navbar-toggle, .navbar-toggle:hover {
  background-color: transparent!important;
  border: none;
  margin: 0!important;
}
.navbar-icon {
  height: 25px;
  width: 25px;
  position: relative;
}
.sofi-logo {
	height: 22px;
  position: relative;
  bottom: 4px;
}
@media (min-width:768px){
	.navbar-collapse {
		background-color: transparent;
	}	
	li a{
		color: #ffffff!important;
	}
}
/*reason module*/
.heading {
  text-transform: uppercase;
  font-size: 14px;
}
.reason-module {
  width: 49%;
  display: inline-block;
  background-color: #ffffff;
  padding: 20px;
  margin-bottom: 10px;
  height: 140px;
  border-radius: 7px;
  position: relative;
}
.notification-icon {
  position: absolute;
  right: 8px;
  top: 10px;
  width: 15px;
}
.reason-heading {
	font-size: 17px;
}
.reason-icon {
	width: auto;
	height: 35px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.progress {
	margin-bottom: 5px;
	height: 5px;
}
.points {
	color: #8a8a8a;
}
/****credit score ****/
.credit-score {
	background-color: #ffffff
}
.credit-score-module {
	padding: 40px 20px 125px 20px;
}
.credit-score span {
	font-size: 16px;
	color: #F5AF4C;
	font-weight: bold;
	margin-left: 15px;
}
.info-icon {
	float: left;
	height: 15px;
  margin-top: 5px;
}
.info {
	float: left;
	font-size: 14px;
	width: 80%;
  margin-left: 10px;
}
/*action item*/
.action {
	background-color: #ffffff;
	border-bottom: 1px rgba(0,0,0,0.1) solid;
	clear: both;
	height: 45px;
  padding: 13px 20px;
}
.circle {
	background-color: #33C2F6;
	border-radius: 50%;
	height: 8px;
	width: 8px;
	float: left;
  position: relative;
  top: 6px;
  margin-right: 10px;
}
.action p {
	font-size: 14px;
	float: left;
}
.glyphicon-chevron-right {
	color: #8a8a8a;
	float: right;
  position: relative;
  top: 5px;
}
/****credit utilization ****/
/*credit impact*/
.credit-impact-module {
	background-color: #ffffff;
	padding: 20px;
}
.credit-impact h1 {
	text-align: center;
	margin: 0;
}
.credit-impact p {
	font-size: 14px;
	color: #8a8a8a;
	text-align: center;
}
.impact-bucket {
	display: inline-block;
	width: 24%;
  height: 35px;
  border-radius: 3px;
  padding-top: 10px;
  text-align: center;
}
.impact-description {
	width: 24%;
	color: #8a8a8a;
	display: inline-block;
}
.bg-danger {
	background-color: #D93C18;
}
.bg-warning {
	background-color: #ffffff;
	border: 1px solid #F3A537;
}
.bg-success {
	background-color: #ffffff;
	border: 1px solid #80D135;
}
.bg-info {
	background-color: #ffffff;
	border: 1px solid #3EC2F4;
}
.text-white {
	color: #ffffff;
}
/*improve score module*/
.improve-score-module {
	background-color: #ffffff;
	padding: 20px 15px;
}
.improve-score-module p {
	font-size: 14px;
}
.improve-score-module .btn {
	width: 100%;
}

/*credit accounts module*/
.credit-account-module {
	background-color: #ffffff;
	padding: 5px 0;
  clear: both;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
	right: 5px;
	position: relative;
}
.credit-account-module .credit-usage {
	border-bottom: 1px rgba(0,0,0,0.1) solid;
}
.credit-account-module .credit-usage div{
	width: 49%;
	display: inline-block;
	text-align: center;
}
.credit-account-module .credit-usage h4{
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 3px;
}
.credit-account-module .credit-usage p{
	color: #8a8a8a;
	font-size: 13px;
}
.account {
	  margin: 20px;
	  border-bottom: 1px rgba(0,0,0,.1) solid;
	  padding-bottom: 30px;
}
.account .bank {
	float: left;
	font-weight: bold;
	font-size: 14px;
}
.account .perc {
	float: right;
	font-size: 14px;
}
.account .balance {
	font-weight: normal;
	font-size: 12px;
	opacity: 0.4;
}
.account .progress {
	clear: both;
}
